<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% block css %}

    {% endblock %}
</head>
<body>
    {% block head %}

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block foot %}

    {% endblock %}
</body>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block js %}

    {% endblock %}
</html>